* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.logo svg {
  width: 10%;
}

nav {
  padding: 50px 100px;
}

/* FILTERS */
.filters {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  padding-top: 0;
}

.filters button {
  background-color: transparent;
  border: none;
  outline: none;
}

.tabs {
  display: flex;
  gap: 30px;
}

.filter {
  background-color: #ccc;
  padding: 8px 28px;
  border-radius: 200px;
  cursor: pointer;
}

.new {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #BC6C25;
  color: #fff;
}

.filter:hover {
  opacity: 0.9;
}

/* ADD MODAL */
.add {
  background-color: #BC6C25;
  color: white;
  transition: all 0.3s ease;
}

.add:hover {
  background-color: #BC6C25;
  color: white;
  opacity: 0.9;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  transition: all 0.2s ease;
}

.input input:focus {
  border-bottom: 1px solid #BC6C25;
}

.btns {
  display: flex;
  gap: 30px;
}

/* ITEM BOX */
.item {
  display: flex;
  height: 100px;
  margin: 0 100px;
}

.item-details {
  background-color: #ff7b7d;
  width: 50dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  border-radius: 20px 0 0 20px;
}

.date-head {
  font-size: 1rem;
}

.delete {
  background-color: #5e0709;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #da5153;
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
}

/* ITEMS */
.items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}